@charset "UTF-8";

/*TYPICAL DEVICE BREAKPOINTS

PEQUENAS TELAS: ATÉ 600PX
CELULAR: 600PX ATÉ 768PX
TABLET: 768PX ATÉ 992PX
DESKTOP: 992PX ATÉ 1200PX
GRANDES TELAS: ACIMA DE 1200PX
*/

@media screen and (orientation: landscape) and (max-width: 767px){
    body{
        background-image: linear-gradient( to right, var(--cor2), var(--cor4));
    }
    
    section#login{
        min-width: 400px;
        max-width: 700px;
    } 

    section#login > div#imagem{
        float: left;
        height: 100%;
        width: 40%;
    }

    section#login > div#formulario{
        float: right;
        width: 55%;
        
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient( to right, var(--cor2), var(--cor4));
    }
    section#login{
        max-width: 90vw;
    }

    section#login > div#imagem{
        float: left;
        height: 100%;
        width: 40%;
    }

    section#login > div#formulario{
        float: right;
        width: 55%;
        
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient( to left, var(--cor2), var(--cor4));
    }
    section#login{
        width: 90vw;
        max-width: 1000px;
    }

    section#login > div#imagem{
        float: right;
        height: 100%;
        width: 45%;
    }
    section#login > div#formulario{
        float: left;
        height: 100%;
        width: 50%;
    }
}